.header-footer {
    text-align: center;
    background-color: rgb(102, 110, 255);
    margin: 5px;
    padding: 5px;
}

body {
    background-color: #d27fd9;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
}

.main-line {
    width: 100%;
}

.sidebar {
    background-color: blue;
    position: relative;
    display: inline;
    text-align: right;
}